.checkbox {
  --offImage: url(../images/ico_check_off.svg);
  --onImage: url(../images/ico_check_on.svg);
  --fontSize: 15px;
  --beforeColor: red;
  --afterColor: blue;
  --pl: 20px;
  --height: 24px;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:checked {
      + label {
        color: var(--afterColor);
        background: var(--onImage) no-repeat left;
      }
    }
  }
  label {
    display: inline-flex;
    padding-left: var(--pl);
    background: var(--offImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--height);
  }
}
