:root {
  --checkOffImage: url(../images/ico_check_off.svg);
  --checkOnImage: url(../images/ico_check_on.svg);
  --checkFontSize: 15px;
  --checkBeforeColor: red;
  --checkAfterColor: blue;
  --checkPl: 20px;
  --checkHeight: 24px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--checkPl);
    background: var(--checkOffImage) no-repeat left;
    font-size: var(--checkFontSize);
    color: var(--checkBeforeColor);
    height: var(--checkHeight);
  }
  &:checked {
    + label {
      color: var(--checkAfterColor);
      background: var(--checkOnImage) no-repeat left;
    }
  }
}
