.chip {
  --borderOnColor: #000;
  --borderOffColor: #000;
  --fontOnColor: #fff;
  --fontOffColor: #000;
  --bgOnColor: #000;
  --bgOffColor: #fff;
  --px: 10px;
  --py: 4px;
  --fontSize: 16px;
  --rounded: 100px;
  --gap: 5px;

  display: flex;
  align-items: center;
  gap: var(--gap);

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffColor);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
}

.chip-icon {
  --borderOnColor: #000;
  --borderOffColor: #000;
  --fontOnColor: #fff;
  --fontOffColor: #000;
  --bgOnColor: silver;
  --bgOffColor: #fff;
  --px: 10px;
  --py: 4px;
  --fontSize: 16px;
  --rounded: 100px;
  --gap: 5px;

  --iconGap: 10px;
  --iconSize: 20px;
  --iconBgOffImg: url(../images/ico_select.svg);
  --iconBgOnImg: url(../images/ico_more.svg);

  display: flex;
  align-items: center;
  gap: var(--gap);

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    display: inline-flex;
    gap: var(--iconGap);
    align-items: center;
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffColor);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
  &.left {
    label {
      &::before {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::before {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
  &.right {
    label {
      &::after {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::after {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
}
