.dialog {
  --padding: 20px; /* 안쪽여백 */
  --border: 2px solid red; /* 외곽선 */
  --backdrop: rgba(0, 0, 0, 0.5); /* 딤드색상 */
  --widthSmall: 200px;
  --widthMedium: 300px;
  --widthLarge: 500px;
  --baseWidth: 400px; /* 기본크기 */

  position: fixed;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  width: var(--baseWidth);
  padding: var(--padding);
  border: var(--border);
  /* border-radius: 원하는값; */

  &:popover-open {
  }

  &.sm {
    width: var(--widthSmall, fit-content);
  }
  &.md {
    width: var(--widthMedium, fit-content);
  }
  &.lg {
    width: var(--widthLarge, fit-content);
  }
  &.dimmed {
    &::backdrop {
      background: var(--backdrop, transparent);
    }
  }
  &.blur {
    &::backdrop {
      backdrop-filter: blur(3px);
    }
  }
}

body:has(:popover-open) {
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
}
