.radio {
  --offImage: url(../images/ico_radio_off.svg);
  --onImage: url(../images/ico_radio_on.svg);
  --fontSize: 19px;
  --beforeColor: #1d1d1d;
  --afterColor: #1d1d1d;
  --pl: 32px;
  --height: 24px;

  display: inline-block;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:checked {
      + label {
        color: var(--afterColor);
        background: var(--onImage) no-repeat left;
      }
    }
  }
  label {
    display: inline-flex;
    padding-left: var(--pl);
    background: var(--offImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--height);
  }
}

:root {
  --radioOffImage2: url(../images/ico_radio_off.svg);
  --radioOnImage2: url(../images/ico_radio_on.svg);
  --fontSize2: 19px;
  --beforeColor2: #1d1d1d;
  --afterColor2: #1d1d1d;
  --radioPl2: 32px;
  --radioHeight2: 24px;
}
.radio2 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--radioPl2);
    background: var(--radioOffImage2) no-repeat left;
    font-size: var(--fontSize2);
    color: var(--beforeColor2);
    height: var(--radioHeight2);
  }
  &:checked {
    + label {
      color: var(--afterColor2);
      background: var(--radioOnImage2) no-repeat left;
    }
  }
}
