.txt-type1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--txt55);
  font-family: "Pretendard GOV";
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
}
.txt-error {
  color: red;
  font-size: 16px;
}
